/*

=========================================================
* Avenue CSS Kit v0.1
=========================================================

* Demo Page: 'http://xxx.app/'
* Copyright 2022 Christian Luntok 
* Coded by Christian Luntok

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/

// Core CSS Reset/MISCS
@import 'core/misc';

// Core Declarations
@import 'core/variables';

// Core Layouts and Style Definitions
@import 'core/general';
@import 'core/typography';
@import 'core/utilities';

body{

}

// Core Plugins
// @import "plugins/plugin-tailwind";
.custom-cursor{
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.cursor-text{
  font-size: 5px;
  font-weight: 900;
  letter-spacing: 1px;
  display: none;
}
@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}


